name: Build with JPackage

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      winVersion:
        required: true
        type: string

jobs:
  build-on-ubuntu:
    name: Build on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.1
      - name: Build and Package
        run: |
          #./build-client.sh linux ${{ inputs.version }}
          mkdir -p ./target/jpackage-out
          touch ./target/jpackage-out/kurtama-client_${{ inputs.version }}_amd64.deb
          echo "Hello" > ./target/jpackage-out/kurtama-client_${{ inputs.version }}_amd64.deb

      - name: Upload deb to release
        uses: actions/upload-artifact@v4.0.0
        with:
          name: client-deb
          path: ./target/jpackage-out/kurtama-client_${{ inputs.version }}_amd64.deb
          retention-days: 1
          overwrite: true
          if-no-files-found: error

  build-on-windows:
    name: Build on Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5.0.1
      - name: Build and Package
        shell: bash
        run: |
          #./build-client.sh windows ${{ inputs.version }} ${{ inputs.winVersion }}
          mkdir -p ./target/jpackage-out
          touch ./target/jpackage-out/Kurtama-${{ inputs.winVersion }}.exe
          echo "Hello" > ./target/jpackage-out/Kurtama-${{ inputs.winVersion }}.exe
          mv ./target/jpackage-out/Kurtama-${{ inputs.winVersion }}.exe ./target/jpackage-out/Kurtama-${{ inputs.winVersion }}-setup.exe

      - name: Upload exe to release
        uses: actions/upload-artifact@v4.0.0
        with:
          name: client-exe
          path: ./target/jpackage-out/Kurtama-${{ inputs.winVersion }}-setup.exe
          retention-days: 1
          overwrite: true
          if-no-files-found: error
